<h2>Hi, <%= current_user ? current_user.name : nil %>!</h2>
<h1>Welcome to the Reading Pod</h1>


<h3>Reading Pods</h3>

<li><%= link_to "View Reading Pods", pods_path %></li>
<br>
<br>
<li><%= link_to "View Current Months Books", books_path %></li><!--TODO: custom scope method for this -->
<br>
<br>
<%= button_to "Create Reading Pod", new_pod_path, method: "get" %>
<br>
<br>
<%= form_with model: @category do |f| %>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Categories" %>
  <%= f.submit %>
<% end %>

<%#= form_with model: @pod do |f| %>
  <%#= f.collection_select :pod_id, Pod.all, :id, :name, prompt: "Select Reading Pod" %>
  <%#= f.submit %>
<%# end %>


