<h1>Welcome to the Reading Pod</h1>

<!-- if there is a current user show below else do not-->
<!-- if user_signed_in? else sign in or sign up above-->

<% if user_signed_in? %> 
  <h3>Reading Pods</h3>

  <li><%= link_to "View Your Profile", edit_user_registration_path %></li>
  <br>
  <li><%= link_to "View Reading Pods", pods_path %></li>
  <br>
  <br>
  <li><%= link_to "View Current Months Books", books_path %></li><!--TODO: custom scope method  for this -->
  <br>
  <br>
  <%= button_to "Create Reading Pod", new_pod_path, method: "get" %>
  <br>
  <br>
  <%= form_with model: @category do |f| %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Categories" %>
    <%= f.submit %>
  <% end %>
<% else %>
  <h3>Please sign in or sign up above</h3>
<% end %>

<%#= form_with model: @pod do |f| %>
  <%#= f.collection_select :pod_id, Pod.all, :id, :name, prompt: "Select Reading Pod" %>
  <%#= f.submit %>
<%# end %>


